<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ucb.noqueue">

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <supports-screens android:resizeable="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.ucb.noqueue.activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.ucb.noqueue.activities.IndexActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.ucb.noqueue.activities.BuscarProdutosActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.ucb.noqueue.activities.ShowProdutosActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.ucb.noqueue.activities.DetalheProdutoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.ucb.noqueue.activities.ProdutoQuantidadeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="br.ucb.noqueue.activities.FinalizaCompraActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <receiver android:name=".SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
